<div class="content">
	<h4>Telephone:</h4>
	<p>(246) 236-4828</p>
	<h4>Email:</h4>
	<p>rompinternational@gmail.com</p>
	<h4>Band House Address:</h4>
	<p>White Park Road, St. Michael, Barbados</p>
</div>
