@import "susy";
@import "breakpoint";

.header {
		@extend %header;
}
.toolbar_top {
		@extend %toolbar_top;
}
.toolbar_bottom {
		@extend %toolbar_bottom;
}

body {
		@include bg-linear-gradient(rgb(255, 102, 0), rgb(102, 255, 0));
}

.content {
		padding: {
				top: 1rem;
				bottom: 60vh;
				left: 1rem;
				right: 1rem;
		}
		font-size: 1.5rem;
		color: rgb(255, 255, 0);
		background-color: rgba(170, 68, 0, 1.0);
}
