@import "susy";
@import "breakpoint";

.header {
		@extend %header;
}
.toolbar_top {
		@extend %toolbar_top;
}
.toolbar_bottom {
		@extend %toolbar_bottom;
}

body {
		@include bg-linear-gradient-image(rgb(255, 102, 0), rgb(102, 255, 0),
																			"/assets/images/one_man_two_women.png");
		background: {
				repeat: no-repeat, repeat;
				attachment: fixed;
		}
		@include breakpoint(map-get($screen, min) map-get($screen, max)) {
				background: {
						position: 75% top;
						size: 150vw 100vh, 100% 100%;
				}
		}
		@include breakpoint(map-get($screen, max)){
				background: {
						position: 40% top;
						size: 80vw 100vh, 100% 100%;
				}
		}
}

.content {
		padding: {
				top: 1rem;
				bottom: 100vh;
				left: 1rem;
				right: 1rem;
		}
		font-size: 1.5rem;
		color: rgb(255, 255, 0);
		background-color: rgba(0, 204, 255, 0.7);
}
