@import "susy";
@import "breakpoint";

%toolbar_top {
		background-color: rgba(255, 102, 0, 0.76);
		padding-left: 0;
		margin: {
				top: 0;
				bottom: 0;
		}

		@include container(30);
		* {
				list-style-type: none;
				color: rgb(0, 204, 255);
		}
		@include link_color( rgb(0, 204, 255) );
		@include breakpoint(map-get($screen, min) map-get($screen, max)) {
				height: auto;
				> * {
						font: {
								family: A850_Roman;
								size: 2rem;
						}
						text-align: center;
				}
				.romp-icon {
						height: 100%;
						width: 100%;
				}
				.key-1443024456-icon {
						height: 100%;
						width: 50%;
						margin-left: 0;
				}
				.list-item {
						height: 2.4rem;
						@include span(8 of 30);
						margin-right: span(11 of 30);
						margin-left: span(11 of 30);
				}
		}
		@include breakpoint(map-get($screen, max)) {
				* {
						height: 2.5rem;
				}
				.list-item {
						text-shadow: 0.15em 0.15em black;
						float: left;
						margin-right: 2rem;
						margin-left: 0;
				}
				.list-item--first {
						width: 16rem;
				}
				:last-child {
						float: right;
						margin-right: 0;
				}
				.romp-icon {
						height: 120%;
						width: 140%;
						margin: 0;
				}
				.key-1443024456-icon {
						height: 100%;
						width: 100%;
						margin-left: 0;
				}
				* {
						font: {
								family: Chantilly_Display;
								size: 2rem;
						}
				}
		}
}
